@use "../../styles/abstracts/index.scss" as a;

.panel-partners {
  --gap: var(--s-xl);
  @extend %grid;
  padding: var(--s-lg) var(--s-base);

  @media screen and (width > 500px) {
    --cols: 2;
  }

  @media screen and (500px <= width <= 767px) {
    :where(.title),
    :where(.intro) {
      grid-column: span 2;
    }
  }

  @include a.bp(large) {
    --cols: 4;
    :where(.title),
    :where(.intro) {
      grid-column: span 2;
    }
    :where(.title) {
      grid-row: span 4;
    }
  }
}
