@use "../../styles/abstracts/index.scss" as a;

.logo-container {
  --width: 250px;
  --height: auto;
  --gap: var(--s-sm);
  @extend %grid-auto;
  padding: var(--s-xxxl) var(--s-base);
  background-color: var(--dire-wolf);

  :where(img) {
    filter: invert(1);
    opacity: 1;
    border-radius: 2px;
    background-color: #0000000d;
  }
}
