/*
  ========================================
  $Theme
  ========================================
*/

:root {
  color-scheme: light dark;

  --white-smoke: rgb(245, 245, 245);
  --cold-morning: rgb(229, 229, 229);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --thamar-black: rgb(24, 24, 24);
  --carbon: rgb(51, 51, 51);
  --kettleman: rgb(97, 97, 97);
  --dark-tone-ink: rgb(18, 18, 18);
  --speed-light: rgb(246, 244, 239);
  --black-chestnut-oak: rgb(36, 35, 31);
  --amaranth-deep-purple: rgb(165, 49, 105);
}

body /* theme--dark */,  
.theme--brand,
.theme--light,
.theme--dark,
.theme--speed-light,
button,
p,
a,
.link {
  color: var(--foreground);
  background-color: var(--background);
}

/* body {
  --foreground: light-dark(var(--black), var(--white));
  --background: light-dark(var(--white), var(--dark-tone-ink));
} */

body,
.theme--dark {
  --foreground: light-dark(var(--white), var(--dark-tone-ink));
  --background: light-dark(var(--black), var(--white));
}

.theme--light {
  --foreground: light-dark(var(--thamar-black), var(--white));
  --background: light-dark(var(--white), var(--thamar-black));
}

.theme--speed-light {
  --foreground: light-dark(var(--dark-tone-ink), var(--white-smoke));
  --background: light-dark(var(--speed-light), var(--black-chestnut-oak));
}

.theme--brand {
  --foreground: var(--white-smoke);
  --background: var(--amaranth-deep-purple);
}
