/*
  ========================================
  $Theme
  ========================================
*/

:root {
  color-scheme: light dark;
  --white-smoke: rgb(245, 245, 245);
  --super-silver: #eee;
  --cold-morning: rgb(229, 229, 229);
  --white: rgb(255, 255, 255);
  --clouded-vision: #d1d1d1;
  --black: rgb(0, 0, 0);
  --thamar-black: #181818;
  --verified-black: #242424; // logos
  --black-lacquer: #3e3e3e;
  --dire-wolf: #282828; // case
  --carbon: rgb(51, 51, 51);
  --kettleman: rgb(97, 97, 97);
  --dark-tone-ink: rgb(18, 18, 18);
  --speed-light: rgb(246, 244, 239);
  --black-chestnut-oak: rgb(36, 35, 31);
  --amaranth-deep-purple: rgb(165, 49, 105);
}

body /* theme--dark */,
header,
.theme--light,
.theme--dark,
.theme--silver,
.theme--speed-light,
.theme--thamar-black,
.theme--cloud,
button,
input {
  color: var(--foreground);
  background-color: var(--background);
}

// header / footer
.theme--dark {
  --foreground: var(--white);
  --background: var(--thamar-black);
}

// //--clouded-vision
// intro-articles
/* .theme--cloud {
  --foreground: light-dark(var(--thamar-black), var(--white));
  --background: light-dark(var(--clouded-vision), var(--black-lacquer));
} */

// theme page cases / about / contact
// cases + clients restent en dark
body,
.theme--silver {
  --foreground: light-dark(var(--thamar-black), var(--white));
  --background: light-dark(var(--super-silver), var(--dire-wolf));
}

// aside
.theme--light {
  --foreground: var(--thamar-black);
  --background: var(--super-silver);
}
