@use "../../styles/abstracts/index.scss" as a;

.static-container {
  max-height: 100vh;
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: -2;
}

.intro-container {
  --cols: 2;
  --gap: var(--s-base);
  @extend %grid;
  align-items: end;
  grid-template-areas: "text text";
  height: 60vh;
  padding: var(--s-base);
  @include a.bp(large) {
    grid-template-areas: ". text";
  }

  :where(.title) {
    grid-area: text;
    line-height: 1.3;
    padding-bottom: var(--s-lg);
  }
}
