@use "../../styles/abstracts/index.scss" as a;

.header-container {
  --inset: var(--s-base);
  --gap: var(--s-base);
  font-size: var(--f-sm);
  @extend %flex-main;
  @include a.bp(medium/large) {
    --justify: space-between;
  }
}

.nav-main {
  --gap: var(--s-sm);
  @extend %flex-main;
  @include a.bp(medium/large) {
    --justify: flex-end;
  }
  :where(a:hover) {
    opacity: 0.6;
  }
}

/* Responsive cover */

.decorative-image {
  container-type: inline-size;
}

.decorative-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@container (min-width: 70vw) {
  .decorative-image img {
    max-width: unset;
    width: 100vw;
    height: unset;
    margin-inline-start: 50%;
    transform: translateX(-50%);
    aspect-ratio: 10/5;
  }
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
