@use "../../styles/abstracts/index.scss" as a;

.section_footer {
  @extend %flex-large;
  background-color: aquamarine;
}

.container {
  flex-direction: column;
  padding: var(--padding-s);
  gap: var(--padding-xs);
}

.ecoindex {
  margin-top: var(--padding-xs);
}

.none {
  background-color: aquamarine;

  @include a.bp(medium) {
    display: none;
  }
}

@media screen and (width >= 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .ecoindex {
    margin-top: 0;
  }
}
