@use "../../styles/abstracts/index.scss" as a;

aside {
  position: fixed;
  bottom: 0;
  width: 100vw;
  //transform: translateY(115px);
}

.cookie-banner {
  --gap: var(--s-base);
  --inset: var(--s-base);
  --justify: space-between;
  font-size: var(--f-sm);
  @extend %flex-auto;
  // justify-content: space-between;
  :where(.link) {
    --foreground: var(--thamar-black);
    border-bottom: 1px solid var(--black);
  }

  :where(.content) {
    --foreground: var(--kettleman);
    text-align: center;
    @include a.bp(medium) {
      text-align: left;
    }
  }

  :where(.actions) {
    --gap: var(--s-sm);
    --justify: flex-end;
    @extend %flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    @include a.bp(medium) {
      justify-content: var(--justify);
    }
    :where(.button) {
      border: 1px solid var(--black);
      padding: 0.625rem 1.25rem;
      min-width: clamp(5.75rem, calc(4.659rem + 5.455vw), 8.75rem);
      @include a.bp(large) {
        // min-width: 8.75rem;
      }
    }
  }
}

/*

.panel {}

.card {

	:where(.container) {}
	@container card-container (800px <= width <= 1200px) {}
	@container card-container (width > 1200px) {}
	:where(.txt-wrapper) {}
	:where(.content) {}
	:where(.cat) {}
	:where(.head) {}
	:where(.subhead) {}
	:where(.details) {}
	:where(.author) {}
	:where(.tag) {}  	

  :where(.media-wrapper) {}
	:where(.media) {}

	:where(.button) {}
	:where(.icon-wrapper) {}
	:where(.icon) {}
	:where(.link) {}

	&:where(.card--innered) { colors }
	&:where(.card--featured) { colors }

}

*/
