@use "../../styles/abstracts/index.scss" as a;

.nav-container {
  --cols: 1;
  --gap: var(--s-md);
  font-size: var(--f-sm);
  @extend %grid-fr;
  @media screen and (800px <= width <= 1280px) {
    --cols: 1fr 2fr;
  }
  @media screen and (width > 1280px) {
    --cols: 1fr 1fr;
  }
}

.nav-main {
  --gap: var(--s-base);
  @extend %flex;
  @media screen and (800px <= width <= 1280px) {
    justify-self: end;
  }
  @media screen and (width > 1280px) {
    //--justify: space-between;
    justify-self: end;
  }
  :where(.link) {
    padding-bottom: 1px;
    text-shadow: 1px 1px var(--carbon);
    border-bottom: 1px solid transparent;
  }
  :where(.link:hover) {
    opacity: 0.6;
  }
  :where(.is--active) {
    border-bottom: 1px solid currentColor;
  }
  :where(.is--self) {
    @include a.bp(large) {
      margin-left: auto;
    }
  }
}
